<%- include('../../defaults/header.ejs') %>
<!-- <% var chat %> -->
<style>
    .row{
        /* margin: 10px 5px; */
    }
</style>
<!-- <div class="form-group m-4">
    <button class="btn btn-outline-primary" onclick="addcat()">Add Category</button>
    <button class="btn btn-outline-primary"><a href="/home/lead_form" class="text-decoration-none">Lead Form</a></button>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="addCategoryForm" action="/home/add_cate" method="POST">
            <div class="d-flex justify-content-between">

                <div class="form-group col-lg-10">
                    <label for="catname">Category Name:</label>
                    <input type="text" id="catname" name="catname" class="form-control" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mt-4">Add</button>
                </div>
            </div>
        </form>
    </div>
</div> -->
<br><br>
<section class="mt-5">
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <form id="scheduleForm" method="post" action="/home/schedule">
                        <div class="card">
                            <div class="card-header">
                                <h4>Schedule Information</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="sched_name">Schedule Name</label>
                                    <input class="form-control col-md-12" name="sched_name" id="sched_name" required/>
                                </div>
                                <div class="form-group">
                                    <label for="catSelect2">Category</label>
                                    <select id="catSelect2" class="form-control" name="catSelect2" required>
                                        <option>Choose</option>
                                        <!-- Options will be dynamically populated via AJAX -->
                                    </select>
                                </div> 
                                <div class="col-sm-12 d-flex justify-content-between">
                                    <div class="col-sm-5 form-group">
                                        <label class="form-label" for="interval">Days Interval</label>
                                        <input class="form-control col-md-12" name="interval" id="interval" required/>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label class="form-label" for="remain_time">Time</label>
                                        <input class="form-control col-md-12" name="remain_time" id="remain_time" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="template_area">Template</label>
                                    <textarea placeholder="Write the format" name="template_area" id="template_area" class="form-control" rows="5" required></textarea>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="mt-4">
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-dark">
                                <th>Sno.</th>
                                <th>Schedule Name</th>
                                <th>Category Name</th>
                                <th>Days Interval</th>
                                <th>Time Scheduled</th>
                                <th>Template</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                <% var i =1 %>
                                    <% data.forEach(item => { %>
                                        <tr>
                                            <td scope="row"><%= i++ %></td>
                                            <td><%= item.schedule_name  %></td>
                                            <td><%= item.cate_name %></td>
                                            <td><%= item.days_interval %></td>
                                            <td><%= item.sched_time %></td>
                                            <td><%= item.template %></td>
                                            <td>
                                                <div class="icon d-flex justify-content-evenly">
                                                    <form method="get" action="/home/view_schedule/<%=item.sched_id%>">
                                                        <button class="btn" type="submit">
                                                            <i class="fa-solid fa-eye"></i>
                                                        </button>
                                                    </form>
                                                <!-- <div class="icon d-flex justify-content-between"> -->
                                                    <form method="get" action="/home/edit_schedule/<%= item.sched_id%>">
                                                        <button class="btn" type="submit">
                                                            <i class="fa-solid fa-pen-to-square"></i>
                                                        </button>
                                                    </form>
                                                    <form method="post" action="/home/delete_schedule/<%= item.sched_id %>">
                                                        <button class="btn" type="submit">
                                                            <i class="fa-solid fa-trash"></i>
                                                        </button>
                                                    </form>
                                                </div>
                                            </td>
                                        </tr>
                                    <% }); %>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function addcat(){
        var modal = document.getElementById("myModal");
        modal.style.display = "block";

        var span = document.getElementsByClassName("close")[0];
        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }
    $(document).ready(function() {

        $.ajax({
            url: '/home/get_cate',
            method: 'GET',
            success: function(data) {
                data.forEach(function(cate) {
                    $('#catSelect2').append(`<option value="${cate.cate_id}">${cate.cate_name}</option>`);
                });
            },
            error: function(err) {
                console.error('Error fetching leads:', err);
            }
        });
    });
</script>

<%- include('../../defaults/footer.ejs') %>
