<%- include('../../defaults/header.ejs') %>
<br><br>
<section class="mt-4">
    <div class="container">
        <div class="page-inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-dark">
                                <th>Sno.</th>
                                <th>Lead ID</th>
                                <th>Lead Name</th>
                                <th>Email</th>
                                <th>Time</th>
                                <th>Date</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                <% if (data.length > 0) { %>
                                <% var i =1 %>
                                    <% data.forEach(item => { %>
                                        <% let istOffset = 5.5 * 60 * 60 * 1000;
                                        let new_updatedat = new Date(item.remin_date.getTime() + istOffset);
                                        let remin_date = new_updatedat.toISOString().split('T')[0]; %>
                                        <tr>
                                            <td><%= i++%></td>
                                            <td><%=item.lead_ref_id%></td>
                                            <td><%=item.lead_name%></td>
                                            <td><%=item.email%></td>
                                            <td><%=item.remin_time%></td>
                                            <td><%=remin_date%></td>
                                            <td><%=item.remin_status ? "✔️" : ""%></td>
                                        </tr>
                                    <% }); %> 
                                <% } else { %>
                                    <tr>
                                        <td colspan="8" class="text-center">No data available</td>
                                    </tr>
                                <% } %>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


<%- include('../../defaults/footer.ejs') %>
